body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 166, 0, 0.74), rgba(255, 99, 71, 0.795));
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 7px;
}